body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0;
  font-family: "Urbanist", sans-serif;
  color: #ffffff;
  display: flex; /* Utiliza flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Opcional: Ajusta la posición vertical si es necesario */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la pantalla */
}

html {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  background: #1c1c1c;
  color: #ffffff;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 25px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.botonera {
  margin: 10px;
}

.boton {
  background: #7380c5;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  transition: all 0.3s;
}

.boton a {
  text-decoration: none;
  color: #0c0c0c;
  font-weight: lighter;
  font-size: large;
}

.boton:hover {
  background: #ededfe;
  transform: scale(1.2);
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* El canvas queda detrás del contenido */
}
